Vagrant.configure("2") do |config|
  config.vm.box = "ubuntu/focal64"

  config.vm.define "web1" do |web1|
    web1.vm.hostname = "web1"
    web1.vm.network "public_network", bridge: "enp0s31f6", ip: "192.168.31.100"
  end

  config.vm.define "web2" do |web2|
    web2.vm.hostname = "web2"
    web2.vm.network "public_network", bridge: "enp0s31f6", ip: "192.168.31.101"
  end

  config.vm.define "db" do |db|
    db.vm.hostname = "db"
    db.vm.network "public_network", bridge: "enp0s31f6", ip: "192.168.31.102"
  end

  config.vm.define "monitoring" do |monitoring|
    monitoring.vm.hostname = "monitoring"
    monitoring.vm.network "public_network", bridge: "enp0s31f6", ip: "192.168.31.103"
  end
end